.modal-body table {
    width: 100%;
}

.modal-body td {
    width: 50%;
}

.modal-body input {
    width: 50%;
}

.modal-body textarea {
    width: 75%;
    resize: both;
    max-width: 100%;
    min-width: 35%;
}

.modal-body #charges {
    width: 40%;
    resize: both;
    max-width: 100%;
    min-width: 35%;
}

.header {
    background-color: rgb(0, 0, 129);
    margin: -8px;
    margin-top: -50px;
}

.header h1 {
    color: rgb(238, 176, 19);
    font-size: 75px;
    margin-left: 1.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(0, 0, 57) !important;
}

.island {
    background-color: rgb(0, 0, 177);
    width: 40%;
    border-radius: 20px;
}

.island h1 {
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.island table {
    width: 100%;
}

.island td {
    width: 33%;
}

.island div {
    background-color: rgb(0, 0, 223);
    width: 100%;
    border-radius: 20px;
}

.island h3 {
    color: rgb(238, 176, 19);
    font-weight: bolder;
}

.island button {
    border: 0;
    border-radius: 20px;
    width: 80%;
    height: 25px;
    background-color: #ffe5be;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    display: none;
  }
  
  .alert.success {background-color: #04AA6D;}
  .alert.info {background-color: #2196F3;}
  .alert.warning {background-color: #ff9800;}
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }