@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dosis&family=PT+Serif&family=Playpen+Sans&display=swap');

input {
    text-align: center;
    border-radius: 20px;
    border-width: 0;
    width: 35%;
    height: 25px;
    background-color: rgb(66, 136, 179);
    color: white;
}

input::placeholder {
    color: white;
}

#loginButton {
    border-radius: 20px;
    border-width: 0;
    width: 45%;
    height: 25px;
    background-color: rgb(66, 136, 179);
    color: white;
}

.loginBody {
    background-color: rgb(208, 237, 255);
}

.loginHeader {
    background-color: rgb(0, 102, 166) !important;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -5.4dvh;
    height: 14dvh;
    font-size: xx-large;
    font-family: 'Agbalumo', cursive;
    color: white;
}

.loginForm {
    background-color: rgb(114, 195, 245);
    width: 60dvh;
    border-radius: 3dvh;
}

#checkInfo {
    display: none;
    color: red;
}

#clearButton {
    display: none;
    border-radius: 20px;
    border-width: 0;
    width: 27%;
    height: 27px;
    background-color: rgb(66, 136, 179);
    color: red;
    font-weight: lighter;
    font-size: 100%;
}

.titleh2 {
    color: rgb(239, 239, 239);
    font-family: 'Agbalumo', cursive;
}

#loginFormID {
    margin-top: 20dvh;
}

#button {
    border-width: 0;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    font-size: large;
    font-family: "Dosis", cursive;
}

#button2 {
    margin-left: 20px;
    border-width: 0;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    font-size: large;
    font-family: "Dosis", cursive;
}

#button:hover {
    border-width: 0;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    background-color: #cecece;
}

#button2:hover {
    border-width: 0;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    background-color: #cecece;
}

#warning {
    display: none;
}

.fadeText {
    color: rgb(199, 199, 199);
}

.rotateColorBack {
    background-image: linear-gradient(90deg,#000000, #000, #000, rgba(66, 136, 179, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.articleOne {
    width: 35%;
    background-color: rgb(66, 136, 179);
    border-radius: 20px;
    display: inline-block;
}
.articleTwo {
    width: 30%;
    background-color: rgb(66, 136, 179);
    border-radius: 20px;
    display: inline-block;
}
.articleThree {
    width: 30%;
    background-color: rgb(66, 136, 179);
    border-radius: 20px;
    display: inline-block;
}

.articleImageA {
    border-radius: 10%;
    width: 65%;
    max-height: 300px;
}

.articleImageB {
    border-radius: 10%;
    width: 43%;
    max-height: 200px;
}

.articleImageC {
    border-radius: 10%;
    width: 57%;
    max-height: 200px;
}

.articleTitle {
    color: white;
    font-family: 'PT Serif', cursive;
}

.articleInformation {
    margin-left: 12.5%;
    margin-right: 12.5%;
}
.mainArticleTitle {
    margin-left: 30px;
}
.articleAuthor {
    font-size: small;
    margin-left: 10px;
}
.article {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#tableOfContents{
    margin-left: 12.5%;
    margin-right: 12.5%;
}

#infoHeader {
    background-color: rgb(124, 205, 255);
    height: 30px;
    margin-left: 30%;
    width: 43%;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
}

#blockedContent {
    display: none;
}

#bibliographyTableWN {
    width: 70%;
    text-align: center;
}
#bibliographyTableDA {
    width: 19%;
    text-align: center;
}
#bibliographyTableName {
    width: 16%;
    text-align: center;
}
